@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: 0.5s ease;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    margin: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before {
   width: 100%;
}

main {
    padding-top: 80px; 
    background-color: #000000;
    padding-bottom: 10px;
}


.faq {
    max-width: 800px;
    margin: auto;
}

.faq h2 {
    text-align: center;
    color: #edff75;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 50px;
}

.faq-section {
    margin-bottom: 2em;
}

.faq-section h3 {
    color: #91c3f5; 
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #96a2ae; 
    padding-bottom: 0.5em;
}

details {
    background-color: #ffffff; 
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-weight: bold;
    cursor: pointer;
}



